<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="ReadWriteAppContext" providerName="MySql.Data.MySqlClient" connectionString="server=127.0.0.1;port=3306;database=orderdb;uid=root;password=P@ssw0r1d" />
	<add name="ReadAppContext" providerName="MySql.Data.MySqlClient" connectionString="server=127.0.0.1;port=3306;database=orderdb;uid=root;password=P@ssw0r1d" />
</connectionStrings>